{% extends 'base/base.html' %}

{% block title %}Activist{% endblock %}

{% block body %}
            <div class="row">
     {% for victim in Victims %}
            <div class="col-6 col-sm-3">
                <div class="card card-inverse" style="width: 20rem; background-color: #333; border-color: #333;" >
                    <img class="card-img-top" src="{{ victim.photo_1 }}" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">RIP {{ victim.first_name }} <h6>{{ victim.last_name }}</h6></h4>
                        <a href="{% url 'victim:detail' victim.id %}" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
    {% endfor %}
            </div>
{% endblock %}